services:
  budget-api:
    image: ${DOCKERHUB_USERNAME}/budget-api:latest
    container_name: budget-api
    restart: always
    env_file:
      - .env
    expose:
      - "3000"
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - budget-api
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
